.gridBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.gridSquare {
    border: solid black 1px;
    width: 29.25px;
    height: 29.25px;
}

.filledSquare {
    background-color: black;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}