.grid {
    display: flex;
    flex-wrap: wrap;
    width: 352px; /*22px width of each box times 16 boxes to force wrap on 17th box*/
}

.grid > div {
    border: solid black 1px;
    min-width: 20px;
    min-height: 20px;
}