.gridBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 352px; /*22px width of each box times 16 boxes to force wrap on 17th box*/
}

.gridSquare {
    border: solid black 1px;
    min-width: 20px;
    min-height: 20px;
}

.filledSquare {
    background-color: black;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}